@model IList<ShareModel.CategoryShare>

<ul class="nav-navbar-nav flex-grow-1">
    @foreach (var category in Model)
    {
        <li class="nav-item" style=" display: inline-block;float:left;">
            <a class="nav-link text-light" asp-controller="Product" asp-action="Finds" asp-route-categoryName="@category.CategoryName">@category.CategoryName</a>
        </li>
    }
</ul>

